.menu {
  width: 100%;
  height: auto;
}

.menu-content {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.menu-content li {s
  list-style-type: none;
}

.menu-content li a {
  display: block;
  width: 100%;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  background-color: #005580;
  color: white;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.menu-content li a:hover {
  background-color: #28d;
}
