.menu {
  width: 100%;
  height: auto;
}

.menu-content {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  left: -50px;
  position: relative;
}

.menu-content li {
  flex: 1;
  list-style-type: none;
}

.menu-content li a {
  display: block;
  width: 100%;
  text-decoration: none;
  height: 50px;
  background-color: red;
}
